* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.login {
    margin:auto;
    text-align: center;
}

.login h1 {
    font-size: 500%;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

.login h2 {
    font-size: 150%;
    margin-bottom: 5vh;
}

.login input {
    width: 200px;
    height: 20px;
    margin-bottom: 2vh;
}

.login button {
    width: 70px;
    height: 20px;
}

.login a {
    font-size: 75%;
}

.register {
    margin:auto;
    text-align: center;
}

.register h1 {
    font-size: 500%;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

.register h2 {
    font-size: 150%;
    margin-bottom: 2vh;
}

.register input {
    width: 200px;
    height: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

.register .h22 {
    margin-top: 5vh;
}

.register button {
    width: 70px;
    height: 20px;
}

.register a {
    font-size: 75%;
}

.addnew {
    margin:auto;
    text-align: center;
}

.addnew h1 {
    font-size: 150%;
}

.addnew input {
    margin: 1vh;
}

.addnew button {
    width: 70px;
    height: 20px;
}

.journal h1 {
    font-size: 200%;
    margin-bottom: 1vh;
    margin-left: 1vw;
}

.moment {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

.moment h1 {
    margin-left: 0vw;
    font-size: 150%;
}

.moment h2{
    font-size: 100%;
    margin-left: 0.5vw;
}

.moment p {
    font-size: 100%;
    margin-left: 0.5vw;
}